@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300;400;500;600;700&display=swap");
.wrapper {
  user-select: none;
  width: 100%;
  height: 80vh;
  font-family: "Mochiy Pop P One", sans-serif;
  z-index: 20;
}
.icon-hover {
  transition: all 0.5s linear;
  padding: 10px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;
  box-shadow: rgba(252, 252, 252, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  &:hover {
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--color-hover);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
.motivation-song {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s linear 0s;
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    user-select: none;
    font-size: 25px;
    text-align: center;
  }
  .note {
    margin-bottom: 20px;
    font-family: "Fira Code", monospace;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: -1.5px;
  }
}

.view-song {
  padding: 10px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.view-CD {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: linear-gradient(130deg, var(--color-hover), #000000);
  background-size: 200% 200%;
  animation: changePositionBackGround 2s linear infinite;
}

@keyframes changePositionBackGround {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.CD {
  border-radius: 50%;
  width: 95%;
  height: 95%;
  background: url("../../imgs/bg1.jpg");
  background-size: cover;
  background-position: 55% 100%;
  background-repeat: no-repeat;
}
.name-song-playing {
  padding: 5px 0;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.view-controller {
  width: 350px;
}

.song-process {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    cursor: pointer;
    margin: 5px 0;
    margin-right: 15px;
    width: 200px;
    height: 2px;
    border-radius: 5px;
    background-image: linear-gradient(var(--color-hover), var(--color-hover));
    background-repeat: no-repeat;
    color: var(--color-hover);
    -webkit-appearance: none !important;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--color-hover);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  span {
    width: fit-content;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #000;
    padding: 5px;
  }
}

.controll {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// playlist

.play-list {
  z-index: 12;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all 1s ease-out;
  background-color: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(5px) !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  margin-top: 45px;
  user-select: none;
  padding: 10px;
  width: 95%;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.25s linear;
  margin: 8px 0;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(3, 248, 248, 0.4) -5px 5px,
      rgba(46, 240, 214, 0.3) -10px 10px, rgba(15, 195, 236, 0.2) -15px 15px,
      rgba(24, 154, 194, 0.1) -20px 20px, rgba(40, 182, 225, 0.05) -25px 25px;
  }
  &.active {
    padding: 16px;
    margin: 20px 0;
    box-shadow: rgba(3, 248, 248, 0.4) -5px 5px,
      rgba(46, 240, 214, 0.3) -10px 10px, rgba(15, 195, 236, 0.2) -15px 15px,
      rgba(24, 154, 194, 0.1) -20px 20px, rgba(40, 182, 225, 0.05) -25px 25px;
  }
}

.name-song {
  font-size: 18px;
}
.name-src {
  font-size: 14px;
  color: var(--color-hover);
}
.icon-playlist {
  margin: 0 5px;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 1) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 0px 2px, rgba(0, 0, 0, 0.09) 0px 0px 0px;
}
.icon-playlist:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.isplaying {
  animation: circle 1s linear infinite;
}
@keyframes circle {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.small-CD {
  display: none;
}

.animationCircle {
  animation: circle 5s linear infinite;
}
.paused {
  animation-play-state: paused;
}
// view song in playlist
.view-song-playlist {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  &__title {
    font-size: 20px;
    letter-spacing: 1px;
    color: #ccc;
    font-weight: 600;
    text-align: center;
    font-family: "Mochiy Pop P One", sans-serif;
    transition: all 0.25s ease;
  }
  &__current-song {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .icon-hover {
      width: 20px !important;
      height: 20px !important;
    }
    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 4px solid #000;
    }
  }
}
